{% extends 'base.html' %}
{% block content %}
<h3>Wildfire Point Query</h3>
<p>Example: <a href="/fire/point/65.0628/-146.1627">/fire/point/65.0628/-146.1627</a></p>
<p>Results from the above query will look like this:</p>

<pre>
{
  "cfd": {
    "code": 1,
    "color": "#2b83ba",
    "title": "Today's Fire Danger",
    "type": "Low"
  },
  "hist_fire": {
    "Angel Creek - Chena Dome": "1950",
    "WEST FORK CHENA": "2002"
  },
  "is_snow": {
    "is_snow": false,
    "title": "Today's Snow Cover"
  },
  "lc": {
    "code": 8,
    "color": "#b38a33",
    "title": "Land cover types",
    "type": "Temperate or sub-polar shrubland"
  },
  "prf": {
    "flamm": 0.0057,
    "title": "Projected relative flammability"
  }
}
</pre>
<ul>
    <li><strong><code>cfd</code></strong>: Current Fire Danger</li>
        <ul>
             <li><strong><code>code</code></strong>: <i>(int)</i>, Numeric fire danger rating, range 1 through 5.</li>
             <li><strong><code>color</code></strong>: <i>(str)</i>, Hex color code to visualize fire danger.</li>
             <li><strong><code>title</code></strong>: <i>(str)</i>, Title describing these data.</li>
             <li><strong><code>type</code></strong>: <i>(str)</i>, Fire danger rating.</li>
        </ul>
    <li><strong><code>hist_fire</code></strong>: Fire History in format: "'Fire Name': 'Fire Year'"</li>
    <li><strong><code>is_snow</code></strong>: Current Day Snow Cover Status</li>
        <ul>
            <li><strong><code>is_snow</code></strong>: <i>(bool)</i>, If true, point is covered by snow. Else, false.</li>
            <li><strong><code>title</code></strong>: <i>(str)</i>, Title describing these data.</li>
        </ul>
    <li><strong><code>lc</code></strong>: Land cover types</li>
        <ul>
            <li><strong><code>code</code></strong>: <i>(int)</i>, Numeric land cover code.</li>
            <li><strong><code>color</code></strong>: <i>(str)</i>, Hex color code to visualize land cover.</li>
            <li><strong><code>title</code></strong>: <i>(str)</i>, Title describing these data.</li>
            <li><strong><code>type</code></strong>: <i>(str)</i>, Land cover description.</li>
        </ul>
    <li><strong><code>prf</code></strong>: Projected relative flammability</li>
        <ul>
            <li><strong><code>title</code></strong>: <i>(str)</i>, Title describing these data.</li>
            <li><strong><code>flamm</code></strong>: <i>(float)</i>, Numeric flammability value</li>
        </ul>
</ul>

<h4>Source data</h4>
<p>See the <a href="https://snap.uaf.edu/tools/alaska-wildfires">Alaska Wildfire Explorer tool for more documentation on these data.</a></p>
{% endblock %}