{% extends 'base.html' %}
{% block content %}
<h3>IEM Point Query</h3>
<p>Query the 2km downscaled temperature and precipitation data for a single point specified by latitude and longitude.</p>
<p>Example: <a href="/iem/point/65.0628/-146.1627">/iem/point/65.0628/-146.1627</a></p>
<h4>CSV Export</h4>
<p>To export the point data in a CSV file, append <code>?format=csv</code>.</p>
<p>Example: <a href="/iem/point/65.0628/-146.1627?format=csv">/iem/point/65.0628/-146.1627?format=csv</a></p>
{% endblock %}