# file for setting env vars (export FLASK_APP=application.py for now)
set_vars


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
__pycache__
routes/api.sublime-project
routes/api.sublime-workspace
TODO.md
**/.DS_Store

# jupyter nb stuff
*.ipynb_checkpoints

# JSON data files
data/jsons/
data/csvs/
data/shapefiles/

# IDE hidden files
.idea/
.vscode/

# QGIS junk after looking at GeoTIFFs
*.aux.xml