[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask_cors = "*"
aiohttp = "*"
pyproj = "*"
numpy = "*"
geopandas = "1.1.1"
xarray = "*"
h5netcdf = "*"
rioxarray = "*"
requests = "*"
rasterstats = "*"
shapely = "*"
geos = "*"
rtree = "*"
pygeos = "*"
lxml = "*"
marshmallow = "*"
fiona = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"
