affine==2.4.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
async-timeout==4.0.3
attrs==24.2.0
Beaker==1.12.0
blinker==1.8.2
certifi==2024.8.30
cftime==1.6.4
charset-normalizer==3.4.0
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==3.1.0
dash==2.18.2
dash-core-components==2.0.0
dash-dangerously-set-inner-html==0.0.2
dash-html-components==2.0.0
dash-table==5.0.0
dask==2024.12.1
dask-expr==1.1.21
fiona==1.10.1
Flask==3.0.3
Flask-Cors==5.0.0
frozenlist==1.4.1
fsspec==2024.12.0
geopandas==0.13.2
geos==0.2.3
h5netcdf==1.1.0
h5py==3.11.0
idna==3.10
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.4
locket==1.0.0
lxml==5.3.0
MarkupSafe==2.1.5
marshmallow==3.22.0
multidict==6.1.0
nest-asyncio==1.6.0
netCDF4==1.7.1.post2
numpy==1.24.4
packaging==24.1
pandas==2.0.3
partd==1.4.2
patsy==0.5.3
pillow==10.4.0
plotly==5.24.1
propcache==0.2.0
pyarrow==18.1.0
pygeos==0.14
pyparsing==3.1.4
pyproj==3.5.0
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
rasterio==1.3.11
rasterstats==0.20.0
requests==2.29.0
retrying==1.3.4
rioxarray==0.13.4
Rtree==1.3.0
scipy==1.10.0
shapely==2.0.6
simplejson==3.19.3
six==1.16.0
snuggs==1.4.7
statsmodels==0.13.5
tenacity==9.0.0
toolz==1.0.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==1.26.20
Werkzeug==3.0.4
xarray==2023.1.0
yarl==1.15.2
zipp==3.20.2
