{% extends 'base.html' %}
{% block content %}
<h3>Temperature and Precipitation Data</h3>
<p>The endpoints here provide access to 2km downscaled temperature and precipitation data for future (AR5/CMIP5) and historical (CRU TS 4.0) scenarios. There are endpoints for either of these variables individually or in combination. These data are for use in the Northern Climate Reports webapp, and have thus been clipped to the working domain of the Integrated Ecosystem Model (IEM) project.</p>
<h4>Service endpoints</h4>
<p>There are endpoints for point queries and aggregations (mean summaries) by HUC-8 units.</p>
<ul>
    <li><a href="/taspr/point">Point Query</a>: 2km temperature and precip data at a single point</li>
    <li><a href="/taspr/huc">Aggregate by HUC</a>: 2km temperature and precip data within a HUC-8 polygon, aggregating by mean</li>
</ul>

<h4>Results from the queries above will look like this:</h4>

<pre>
{
  "1950_2009": {
    "DJF":{
      "CRU-TS40": {
        "CRU_historical": {
          "tas":{
            "hi_std": -16.7,
            "lo_std": -23.8,
            "max": -12.9,
            "mean": -20.3
            "median": -20.4,
            "min": -31.2,
            "q1": -22,
            "q3": -17.7
          }
        }
      }
    }
  } 
  ...
}
</pre>

The above output is structured as such:

<pre>
{
  &ltperiod>: {
    &ltseason>:{
      &ltmodel>: {
        &ltscenario>: {
          &ltvarname>: {
            &ltstatistic>: &ltstatistic value>
          }
        }
      }
    }
  } 
  ...
}
</pre>

Note: only the CRU TS 4.0 data has statistics other than "mean", so AR5 data will end at <code>&ltvarname>: &ltmean value ></code>
<p><br></p>

<h4>Dimensions:</h4>
<ul>
    <li><strong><code>period</code></strong>: Sumary period:</li>
        <ul>
            <li>1950_2009</li>
            <li>2040_2069</li>
            <li>2070_2099</li>
            <li>2010_2019</li>
            <li>2020_2029</li>
            <li>2030_2039</li>
            <li>2040_2049</li>
            <li>2050_2059</li>
            <li>2060_2069</li>
            <li>2070_2079</li>
            <li>2080_2089</li>
            <li>2090_2099</li>
        </ul>
    <li><strong><code>season</code></strong>: Summary season:</li>
        <ul>
            <li>DJF</li>
            <li>MMA</li>
            <li>JJA</li>
            <li>SON</li>
        </ul>
    <li><strong><code>model</code></strong>: AR5 model source, or CRU TS:</li>
        <ul>
            <li>CCSM4</li>
            <li>MRI-CGCM3</li>
            <li>CRU-TS40</li>
        </ul>
    <li><strong><code>scenario</code></strong>: RCP scenario for AR5, or "CRU_historical" for CRU TS</li>
        <ul>
            <li>rcp45</li>
            <li>rcp60</li>
            <li>rcp85</li>
            <li>CRU_historical</li>
        </ul>
    <li><strong><code>statistic</code></strong>: Statistic value for CRU TS</li>
        <ul>
            <li>hi_std: mean + standard deviation</li>
            <li>lo_std: mean - standard deviation</li>
            <li>max: maximum</li>
            <li>q3: 3rd quartile</li>
            <li>median</li>
            <li>mean</li>
            <li>q1: 1st quartile</li>
            <li>min: minimum</li>
        </ul>
</ul>
<strong>Variables:</strong>:
<ul>
    <li><strong><code>pr</code></strong>: <i>(float)</i>, Precipitation value.</li>
    <li><strong><code>tas</code></strong>: <i>(float)</i>, Temperature value.</li>
</ul>

<h4>Source data</h4>
<table>
<thead>
  <tr>
    <th>Data Layer</th>
    <th>Download Link</th>
    <th>Data Source</th>
    <th>Data Notes</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><a href="http://ckan.snap.uaf.edu/dataset/historical-monthly-and-derived-temperature-products-downscaled-from-cru-ts-data-via-the-delta-m">Historical Monthly and Derived Temperature Products - 2km CRU TS 4.0</a></td>
    <td><a href="http://data.snap.uaf.edu/data/Base/AK_CAN_2km/historical/CRU_TS/Historical_Monthly_and_Derived_Temperature_Products_2km_CRU_TS/">http://data.snap.uaf.edu/data/Base/AK_CAN_2km/historical/CRU_TS/Historical_Monthly_and_Derived_Temperature_Products_2km_CRU_TS/</a></td>
    <td><a href="https://crudata.uea.ac.uk/cru/data/hrg/">CRU TS 4.0 High-resolution gridded datasets (and derived products)</a></td>
    <td>Raster</td>
  </tr>
  <tr>
    <td><a href="http://ckan.snap.uaf.edu/dataset/historical-monthly-and-derived-precipitation-products-downscaled-from-cru-ts-data-via-the-delta">Historical Monthly and Derived Precipitation Products - 2km CRU TS 4.0</a></td>
    <td><a href="http://data.snap.uaf.edu/data/Base/AK_CAN_2km/historical/CRU_TS/Historical_Monthly_and_Derived_Precipitation_Products_2km_CRU_TS/">http://data.snap.uaf.edu/data/Base/AK_CAN_2km/historical/CRU_TS/Historical_Monthly_and_Derived_Precipitation_Products_2km_CRU_TS/</a></td>
    <td><a href="https://crudata.uea.ac.uk/cru/data/hrg/">CRU TS 4.0 High-resolution gridded datasets (and derived products)</a></td>
    <td>Raster</td>
  </tr>
  <tr>
    <td><a href="http://ckan.snap.uaf.edu/dataset/projected-monthly-and-derived-temperature-products-2km-cmip5-ar5">Projected Monthly and Derived Temperature Products - 2km CMIP5/AR5</a></td>
    <td><a href="http://data.snap.uaf.edu/data/Base/AK_CAN_2km/projected/AR5_CMIP5_models/Projected_Monthy_and_Derived_Temperature_Products_2km_CMIP5_AR5/">http://data.snap.uaf.edu/data/Base/AK_CAN_2km/projected/AR5_CMIP5_models/Projected_Monthy_and_Derived_Temperature_Products_2km_CMIP5_AR5/</a></td>
    <td><a href="https://esgf-node.llnl.gov/search/cmip5/">CMIP5</a></td>
    <td>Raster</td>
  </tr>
  <tr>
    <td><a href="http://ckan.snap.uaf.edu/dataset/projected-monthly-and-derived-precipitation-products-2km-cmip5-ar5">Projected Monthly and Derived Temperature Products - 2km CMIP5/AR5</a></td>
    <td><a href="http://data.snap.uaf.edu/data/Base/AK_CAN_2km/projected/AR5_CMIP5_models/Projected_Monthy_and_Derived_Precipitation_Products_2km_CMIP5_AR5/">http://data.snap.uaf.edu/data/Base/AK_CAN_2km/projected/AR5_CMIP5_models/Projected_Monthy_and_Derived_Precipitation_Products_2km_CMIP5_AR5/</a></td>
    <td><a href="https://esgf-node.llnl.gov/search/cmip5/">CMIP5</a></td>
    <td>Raster</td>
  </tr>
</tbody>
</table>
{% endblock %}