{% extends 'base.html' %}
{% block content %}
<h3>Temperature and Precipitation HUC Aggregation</h3>
<p>Query SNAP's 2km downscaled temperature or precipitation data for a specific HUC and aggregate by mean.</p>
<p>Example: <a href="/temperature/huc/19010208">/temperature/huc/19010208</a></p>
<p>Example: <a href="/precipitation/huc/19010208">/precipitation/huc/19010208</a></p>
<p>Query both temperature and precipitation data for a single HUC: <a href="/taspr/huc/19010208">/taspr/huc/19010208</a></p>
<h4>CSV Export</h4>
<p>To export the aggregated HUC data in a CSV file, append <code>?format=csv</code>.</p>
<p>Example: <a href="/temperature/huc/19010208?format=csv">/temperature/huc/19010208?format=csv</a></p>
<p>Example: <a href="/taspr/huc/19010208?format=csv">/taspr/huc/19010208?format=csv</a></p>
<hr/>
<p>8-digit HUC shapefiles accessed at <a href="https://datagateway.nrcs.usda.gov/">https://datagateway.nrcs.usda.gov/</a></p>
{% endblock %}
