{% extends 'base.html' %}
{% block content %}
<h3>Temperature and Precipitation Protected Area Aggregation</h3>
<p>Query SNAP's 2km downscaled temperature or precipitation data for a specific protected area and aggregate by mean.</p>
<p>Example: <a href="/temperature/protectedarea/NPS7">/temperature/protectedarea/NPS7</a></p>
<p>Example: <a href="/precipitation/protectedarea/NPS7">/precipitation/protectedarea/NPS7</a></p>
<p>Query both temperature and precipitation data for a single protected area: <a href="/taspr/protectedarea/NPS7">/taspr/protectedarea/NPS7</a></p>
<h4>CSV Export</h4>
<p>To export the aggregated protected area data in a CSV file, append <code>?format=csv</code>.</p>
<p>Example: <a href="/temperature/protectedarea/NPS7?format=csv">/temperature/protectedarea/NPS7?format=csv</a></p>
<p>Example: <a href="/taspr/protectedarea/NPS7?format=csv">/taspr/protectedarea/NPS7?format=csv</a></p>
<hr/>
{% endblock %}
