commands:
  01_install_build_tools:
    command: |
      yum groupinstall -y "Development Tools"
      yum install -y wget unzip gcc-c++ python3-devel geos geos-devel sqlite-devel

  02_install_proj:
    command: |
      cd /tmp
      wget https://download.osgeo.org/proj/proj-8.2.1.tar.gz
      tar -xzf proj-8.2.1.tar.gz
      cd proj-8.2.1
      ./configure
      make -j$(nproc)
      make install
      ldconfig

  03_install_gdal:
    command: |
      cd /tmp
      wget https://download.osgeo.org/gdal/3.6.2/gdal-3.6.2.tar.gz
      tar -xzf gdal-3.6.2.tar.gz
      cd gdal-3.6.2
      ./configure
      make -j$(nproc)
      make install
      ldconfig

option_settings:
  aws:elasticbeanstalk:application:environment:
    GDAL_VERSION: "3.6.2"
