commands:
  01_install_dev_tools:
    command: |
      yum install -y gcc gcc-c++ make python3-devel libcurl-devel \
                     sqlite-devel libpng-devel libjpeg-devel \
                     geos geos-devel

  02_install_proj:
    command: |
      cd /tmp
      curl -LO https://download.osgeo.org/proj/proj-8.2.1.tar.gz
      tar -xzf proj-8.2.1.tar.gz
      cd proj-8.2.1
      ./configure
      make -j$(nproc)
      make install
      ldconfig

  03_install_gdal:
    command: |
      cd /tmp
      curl -LO https://download.osgeo.org/gdal/3.6.2/gdal-3.6.2.tar.gz
      tar -xzf gdal-3.6.2.tar.gz
      cd gdal-3.6.2
      ./configure
      make -j$(nproc)
      make install
      ldconfig

option_settings:
  aws:elasticbeanstalk:application:environment:
    GDAL_VERSION: "3.6.2"
