{% extends 'base.html' %}
{% block content %}
<h3>Mean Annual Precipitation point query</h3>
<p>Query mean annual precipitation projections for a single point specified by latitude and longitude.</p>
<p>Example: <a href="/mean_annual_precip/point/65.0628/-146.1627">/mean_annual_precip/point/65.0628/-146.1627</a></p>
<h4>Results from the query above will look like this:</h4>
<pre>
{
  "dec_mapr": [
    {
      "dec_end": "2059",
      "dec_start": "2050",
      "model": "5modelAvg",
      "pr_mm": 408,
      "scenario": "rcp60",
      "title": "Mean Annual Precipitation (mm) Decadal Summary Projection for 2050-2059"
    },
    {
      "dec_end": "2059",
      "dec_start": "2050",
      "model": "5modelAvg",
      "pr_mm": 436,
      "scenario": "rcp85",
      "title": "Mean Annual Precipitation (mm) Decadal Summary Projection for 2050-2059"
    }
  ]
}
</pre>
<ul>
    <li><strong><code>dec_mapr</code></strong>: Decadal Summaries of Mean Annual Precipitation Projections
        <ul>
            <li><strong><code>dec_end</code></strong>: <i>(str)</i>, End of decade calendar year.</li>
            <li><strong><code>dec_start</code></strong>: <i>(str)</i>, Start of decade calendar year.</li>
            <li><strong><code>model</code></strong>: <i>(str)</i>, Climate model used to generate outputs.</li>
            <li><strong><code>scenario</code></strong>: <i>(str)</i>, RCP used to generate outputs.</li>
            <li><strong><code>pr_mm</code></strong>: <i>(float)</i>, Mean Annual Precipitation (mm).</li>
            <li><strong><code>title</code></strong>: <i>(str)</i>, Title describing these results.</li>
        </ul>
</ul>
<h4>Source data</h4>
<table>
<thead>
  <tr>
    <th>Gridded Historical Dataset</th>
    <th>Gridded Projected Dataset</th>
    <th>Projected Scenarios</th>
    <th>Projected Models</th>
    <th>Historical Date Range</th>
    <th>Projected Date Range</th>
    <th>Historical Spatial</th>
    <th>Projected Spatial</th>
    <th>Downscaling</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><a href="http://ckan.snap.uaf.edu/dataset/historical-monthly-and-derived-precipitation-products-downscaled-from-cru-ts-data-via-the-delta">Historical monthly and derived delta downscaled from CRU TS (2 km)</a></td>
    <td><a href="http://ckan.snap.uaf.edu/dataset/projected-monthly-and-derived-precipitation-products-771m-cmip5-ar5">Projected Monthly and Derived Precipitation Products - 771m CMIP5/AR5</a></td>
    <td>RCP 4.5, RCP 6.0, RCP 8.5</td>
    <td>GFDL-CM3, NCAR-CCSM4, GISS-E2-R, MRI-CGCM3, IPSL-CM5A-LR, 5-Model Average </td>
    <td>1901 - 2015</td>
    <td>2006-2100</td>
    <td>2 km</td>
    <td>771 m</td>
    <td>Delta (PRISM 1961 - 1990, PRISM 1971 - 2000)</td>
  </tr>
</tbody>
</table>
{% endblock %}
