{% extends 'base.html' %} {% block content %}
<h3>Landfast Sea Ice Extent Point Query</h3>
<p>
  This endpoint accesses daily landfast ice extent information for the Alaska
  Coastline between October 17th, 1996 and July 14th, 2008.
</p>
<h4>Fetch the entire daily time series.</h4>
<p>Query the daily landfast ice extent for a certain geographic point:</p>
<p>
  Example:
  <a href="/landfastice/point/70.77/-146.32"
    >/landfastice/point/70.77/&minus;146.32</a
  >
</p>
<b>Results from queries like the above example will look like this:</b>
<pre>
{
  ...
}
</pre>
<b>The above output is structured like this:</b>
<pre>
{
  ...
}
</pre>
<h4>Fetch a single annual ice season (October to July).</h4>
<p>Query the daily landfast ice extent for a certain geographic point:</p>
<p>
  Example:
  <a href="/landfastice/point/70.77/-146.32"
    >/landfastice/point/70.77/&minus;146.32</a
  >
</p>
<b>Results from queries like the above example will look like this:</b>
<pre>
{
  ...
}
</pre>
<b>The above output is structured like this:</b>
<pre>
{
  ...
}
</pre>
<h4>Source data</h4>
{% endblock %}
