{% extends 'base.html' %}
{% block content %}
<h3>Elevation Point Query</h3>
<p>Query the ASTER Global Digital Elevation Model (DEM) at a single point specified by latitude and longitude.</p>
<p>Example: <a href="/elevation/point/65.0628/-146.1627">/elevation/point/65.0628/-146.1627</a></p>
<h4>Results from the query above will look like this:</h4>
<pre>
{
  "res": "1 kilometer",
  "title": "ASTER Global Digital Elevation Model",
  "units": "meters difference from sea level",
  "z": 304
}
</pre>
<ul>
    <li><strong><code>title</code></strong>: <i>(str)</i>, Title describing these results.</li>
    <li><strong><code>res</code></strong>: <i>(str)</i>, Spatial resolution (pixel size) of the DEM.</li>
    <li><strong><code>units</code></strong>: <i>(str)</i>, Units for elevation `z` value.</li>
    <li><strong><code>z</code></strong>: <i>(int)</i>, Elevation value.</li>
</ul>
<h4>Source data</h4>
<table>
    <thead>
        <tr>
            <th>Data Layer</th>
            <th>Download Link</th>
            <th>Data Notes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="https://lpdaac.usgs.gov/products/astgtmv003/">The Terra Advanced Spaceborne Thermal Emission and Reflection Radiometer (ASTER) Global Digital Elevation Model (GDEM) Version 3 (ASTGTM)</a></td>
            <td><a href="https://github.com/ua-snap/gs-ingest/blob/main/astergdem/download.sh">Download Tiles</a></td>
            <td><strong><code>z = 0</code></strong> indicates sea level. Negative values are expected and indicate depressions below sea level.</td>
        </tr>
    </tbody>
</table>
{% endblock %}
