{% extends 'base.html' %}
{% block content %}
<h3>Climate Protection from Spruce Beetles Point Query</h3>
<p>Query modeled climate protection from spruce beetles for a single point specified by latitude and longitude.</p>
<p>Example: <a href="/beetles/point/64.88/-147.29">/beetles/point/64.88/-147.29</a></p>
<h4>CSV Export</h4>
<p>To export the point data in a CSV file, append <code>?format=csv</code>.</p>
<p>Example: <a href="/beetles/point/64.88/-147.29?format=csv">/beetles/point/64.88/-147.29?format=csv</a></p>
{% endblock %}