{% extends 'base.html' %}
{% block content %}
<h3>Invalid coordinates</h3>

<div id="map"></div>

<p>
  Provided coordinates are outside of the valid range. Coordinates must be
  within one of the following two bounding boxes depending on which side of the
  antimeridian is queried:
</p>
<h4 class="mt-4">Western bounding box:</h4>
<p>
  <span class="has-text-weight-bold">Latitude:</span> <code>{{ west_bbox[1] }}</code> to <code>{{ west_bbox[3] }}</code>
</p>
<p>
  <span class="has-text-weight-bold">Longitude:</span> <code>{{ west_bbox[0] }}</code> to <code>{{ west_bbox[2] }}</code>
</p>
<h4 class="mt-5">Eastern bounding box:</h4>
<p>
  <span class="has-text-weight-bold">Latitude:</span> <code>{{ east_bbox[1] }}</code> to <code>{{ east_bbox[3] }}</code>
</p>
<p>
  <span class="has-text-weight-bold">Longitude:</span> <code>{{ east_bbox[0] }}</code> to <code>{{ east_bbox[2] }}</code>
</p>


<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
    var map = L.map('map', {zoomControl: false, scrollWheelZoom: false}).setView([61.0, -151.505], 5);
    map.attributionControl.setPrefix('');
    
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

    var southWest = L.latLng(51.3492, -187.5799),
        northEast = L.latLng(71.3694, -122.8098),
        bounds = L.latLngBounds(southWest, northEast);

    L.rectangle(bounds, {color: "#F1891E", weight: 3}).addTo(map);

    map.fitBounds(bounds);
</script>
{% endblock %}
