{% extends 'base.html' %}
{% block content %}
<h3>Invalid coordinates</h3>
<p>
  Provided coordinates are outside of the valid range. Coordinates must be
  within one of the following two bounding boxes depending on which side of the
  antimeridian is queried:
</p>
<h4 class="mt-4">Western bounding box:</h4>
<p>
  <strong>Latitude:</strong> <code>{{ west_bbox[1] }}</code> to <code>{{ west_bbox[3] }}</code>
</p>
<p>
  <strong>Longitude:</strong> <code>{{ west_bbox[0] }}</code> to <code>{{ west_bbox[2] }}</code>
</p>
<h4 class="mt-5">Eastern bounding box:</h4>
<p>
  <strong>Latitude:</strong> <code>{{ east_bbox[1] }}</code> to <code>{{ east_bbox[3] }}</code>
</p>
<p>
  <strong>Longitude:</strong> <code>{{ east_bbox[0] }}</code> to <code>{{ east_bbox[2] }}</code>
</p>
{% endblock %}
