{% extends 'base.html' %} {% block content %}
<h3>Mean Annual Diurnal Temperature Variation (°C) Point Query</h3>
<p>The endpoints here provide access to mean annual diurnal temperature variation data.</p>
<h4>Examples</h4>
<p>
  Query the downscaled ERA-Interim historical average (1980-2009) min, mean, and max mean annual diurnal temperature variation (°C) for a point location:
</p>
<p></p>
<p>
  Example:
  <a href="/diurnal_temp_variation/historical/point/65.0628/-146.1627"
    >/diurnal_temp_variation/historical/point/65.0628/-146.1627</a
  >
</p>

<p>
  Query the projected RCP 8.5 mid-century (2040-2069) two-model min, mean, and max  mean annual diurnal temperature variation (°C) for a point location:
</p>
<p></p>
<p>
  Example:
  <a href="/diurnal_temp_variation/projected/point/65.0628/-146.1627"
    >/diurnal_temp_variation/projected/point/65.0628/-146.1627</a
  >
</p>

<p>
  Query the historical and projected min, mean, and max mean annual diurnal temperature variation (°C) for a point location:
</p>
<p></p>
<p>
  Example:
  <a href="/diurnal_temp_variation/hp/point/65.0628/-146.1627"
    >/diurnal_temp_variation/hp/point/65.0628/-146.1627</a
  >
</p>

<p>
  Query the historical or projected min, mean, and max mean annual diurnal temperature variation (°C) for a point location with specific start and end years:
</p>
<p></p>
<p>
  Example:
  <a href="/diurnal_temp_variation/projected/point/65.0628/-146.1627/2070/2099"
    >/diurnal_temp_variation/projected/point/65.0628/-146.1627/2070/2099</a
  >
</p>

<b>Results from the queries above will look like this:</b>

<pre>
{
  "historical": {
    "madtrmax": 7, 
    "madtrmean": 7, 
    "madtrmin": 6
  }
}  
</pre>

<b>The above output is structured as such:</b>

<pre>
{
  &lt;era>: {
    "madtrmax": &lt;the max of the mean annual diurnal temperature variation (°C) across all models and years used for the summary era time period>,
    "madtrmean": &lt;the mean of the mean annual diurnal temperature variation (°C) across all models and years used for the summary era time period>,
    "madtrmin": &lt;the min of the mean annual diurnal temperature variation (°C) across all models and years used for the summary era time period>
  },
  ...
}
</pre>

<h4>Comprehensive queries</h4>
<p>
  The following query will fetch a complete mean annual diurnal temperature variation (°C) set of data composed of the ERA-Interim historical baseline (1980-2009) and the entire projection range (2006-2100) for both available models, GFDL-CM3 and NCAR-CCSM4 (both RCP 8.5).
</p>

<p>
  Example:
  <a href="/diurnal_temp_variation/all/point/65.0628/-146.1627"
    >/diurnal_temp_variation/all/point/65.0628/-146.1627</a
  >
</p>

<b>Results from the query above will look like this:</b>

<pre>
{
  "ERA-Interim": {
    "1980": {
      "madtr": 7
    }, 
    "1981": {
      "madtr": 7
    }, 
    "1982": {
      "madtr": 7
    }, 
...
}
</pre>

<b>The above output is structured as such:</b>

<pre>
{
  &lt;model>: {
    &lt;year>: {
      "madtr": &lt;mean annual diurnal temperature variation (°C)>
    },
    ...
  }
  ...
}
</pre>

</pre>

<h4>CSV Export</h4>
<p>To export the point data to a CSV file, append <code>?format=csv</code>.</p>
<p>
  Example:
  <a href="/diurnal_temp_variation/all/point/65.0628/-146.1627?format=csv"
    >/diurnal_temp_variation/all/point/65.0628/-146.1627?format=csv</a
  >
</p>
<h4>Source data</h4>
<table>
<thead>
  <tr>
    <th>Gridded Historical Dataset</th>
    <th>Gridded Projected Dataset</th>
    <th>Projected Scenarios</th>
    <th>Projected Models</th>
    <th>Historical Date Range</th>
    <th>Projected Date Range</th>
    <th>Historical Spatial</th>
    <th>Projected Spatial</th>
    <th>Downscaling</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><a href="https://catalog.snap.uaf.edu/geonetwork/srv/eng/catalog.search#/metadata/7825535c-edff-4a82-89f3-9183e6cb2b42">Historical downscaled ERA-Interim data (20 km)</a></td>
    <td><a href="https://catalog.snap.uaf.edu/geonetwork/srv/eng/catalog.search#/metadata/7825535c-edff-4a82-89f3-9183e6cb2b42"> Projected Dynamically Downscaled Climate Data for the State of Alaska and surrounding regions at 20km spatial resolution and hourly temporal resolution</a></td>
    <td>RCP 8.5</td>
    <td>GFDL-CM3, NCAR-CCSM4</td>
    <td>1980-2009</td>
    <td>2006-2100</td>
    <td>20 km</td>
    <td>20 km</td>
    <td>Dynamical</td>
  </tr>
</tbody>
</table>
{% endblock %}
