{% extends 'base.html' %}
{% block content %}
<h3>Boundary data</h3>
<p>These data are intended for exposing the polygon boundaries used across SNAP tools and data. Each query for a polygon will return the representative GeoJSON.</p>
<h4>Service Endpoints</h4>
<ul>
    <li><a href="/boundary/area/">Area of Interest Query</a>: All Polygon Boundaries</li>
    <li><a href="/boundary/climatedivision/">Climate Divisions</a>: Alaska Climate Divisions</li>
    <li><a href="/boundary/corporation/">Corporations</a>: Alaska Native Corporations</li>
    <li><a href="/boundary/ethnolinguistic/">Ethnolinguistic Regions</a>: Ethnolinguistic Regions of Alaska and parts of Canada.</li>
    <li><a href="/boundary/firemanagement/">Fire Management</a>: Wildfire Management Zones for Alaska</li>
    <li><a href="/boundary/huc/">Hydrologic Units (HUCs)</a>: HUCs of Alaska</li>
    <li><a href="/boundary/protectedarea/">Protected Area</a>: Protected areas (parks, refuges, reserves, etc.) of Alaska, Yukon, and British Columbia.</li>
</ul>
{% endblock %}
