{% extends 'base.html' %}
{% block content %}
<h3>Boundary data</h3>
<p>These data are intended for exposing the physical, administrative, and political polygon boundaries used across SNAP tools and data.</p>
<h4>Service Endpoints</h4>
<ul>
    <li><a href="/boundary/huc/">HUC Polygons</a>: HUCs of Alaska, as GeoJSON</li>
    <li><a href="/boundary/protectedarea/">Protected Area Polygons</a>: Protected areas (parks, refuges, reserves, etc.) of Alaska, Yukon, and British Columbia as GeoJSON</li>
</ul>
{% endblock %}
