.headerbanner {
	padding: .5rem;
	text-transform: uppercase;
	text-align:  center;
	letter-spacing:  .3ex;
	border-bottom:  1px solid #aaa;
}

footer.footer {
	padding-bottom:  6rem;
}

.content table.endpoints:not(:last-child) {
	margin-bottom: 2rem;
}

th.endpoint-label {
	width: 50%
}

th.endpoint-url {
	width: 50%
}

table.data-source th {
	white-space: nowrap;
}