body {
	background-color: #f3f3ed;
	color: #061728 !important;
}

.headerbanner {
	padding: .5rem;
	text-transform: uppercase;
	text-align:  center;
	letter-spacing:  .3ex;
	border-bottom:  1px solid #ddd;
	background-color: #f6f6f1;
}

footer.footer {
	padding-top: 6rem;
	padding-bottom:  6rem;
}

.content table.endpoints:not(:last-child) {
	margin-bottom: 2rem;
}

th.endpoint-label {
	width: 50%
}

th.endpoint-url {
	width: 50%
}

table.data-source th {
	white-space: nowrap;
}

#map {
	height: 400px;
	width: 400px;
}

.offline {
	border: 0.1px solid #888;
	background-color: #E7B69A;
}