<h1>Scenarios Network for Alaska + Arctic Planning</h1>
<h2>Data API</h2>
<h3>Overview</h3>
<p>This is a data service that is used by several projects.  The code is hosted on <a href="https://github.com/ua-snap/data-api">Github</a>.  Instructions on how to use each data endpoint is given below.</p>
<h4>Service endpoints</h4>
<ul>
	<li><a href="/🔥/about">Wildfire research data</a></li>
	<li><a href="/permafrost/about">Permafrost</a></li>
</ul>
<footer>Copyright &copy; FIXME MAKE DATE DYNAMIC, University of Alaska Fairbanks</footer>