{% extends 'base.html' %}
{% block content %}
<h3>Overview</h3>
<p>This is a data service that facilitates access to a variety of Alaska and Arctic geospatial data.
</p>
<p>The code is hosted on <a href="https://github.com/ua-snap/data-api">Github</a>. Instructions on how to use each data endpoint is given below.</p>
<h4>Service endpoints</h4>
<ul>
    <li><a href="/fire">Wildfire</a></li>
    <li><a href="/permafrost">Permafrost</a></li>
    <li><a href="/iem">Integrated Ecosystem Model (IEM) data</a>. This endpoint consolidates several variables (temperature, precipitation, and more).</li>
    <li><a href="/geology">Geology</a></li>
    <li><a href="/physiography">Physiography</a></li>
    <li><a href="/glacier">Glaciology</a></li>
    <li><a href="/huc">HUC Polygons</a></li>
    <li><a href="/forest">Forests and Vegetation</a></li>
</ul>
{% endblock %}