{% extends 'base.html' %}
{% block content %}
<h3>Geology Point Query</h3>
<p>Query the USGS Geologic Map of Alaska at a single point specified by latitude and longitude.</p>
<p>Example: <a href="/geology/point/69.0628/-144.1627">/geology/point/69.0628/-144.1627</a></p>
<h4>Results from the query above will look like this:</h4>
<pre>
{
  "age": "Cambrian and Proterozoic",
  "name": "Wickersham and Neruokpuk units",
  "title": "USGS Geologic Map of Alaska"
}
</pre>
<ul>
    <li><strong><code>title</code></strong>: <i>(str)</i>, Title describing these results.</li>
    <li><strong><code>name</code></strong>: <i>(str)</i>, Geologic unit name.</li>
    <li><strong><code>age</code></strong>: <i>(str)</i>, Geologic unit age.</li>
</ul>
<h4>Source data</h4>
<table>
    <thead>
        <tr>
            <th>Data Layer</th>
            <th>Download link</th>
            <th>Source</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="https://pubs.er.usgs.gov/publication/sim3340">Geologic Map of Alaska</a></td>
            <td><a href="http://pubs.usgs.gov/sim/3340/sim3340_shp.zip">http://pubs.usgs.gov/sim/3340/sim3340_shp.zip</a></td>
            <td><a href="http://dx.doi.org/10.3133/sim3340">http://dx.doi.org/10.3133/sim3340</a></td>
            <td>Using the detailed rock unit shapefile.</td>
        </tr>
    </tbody>
</table>
{% endblock %}