{% extends 'base.html' %} {% block content %}
<h3>Design Index Point Query</h3>
<p>
  The endpoints here provide access to the design thawing index and design
  freezing index.
</p>

<h4>Endpoints</h4>
<table>
  <thead>
    <tr>
      <th>Endpoint</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>thawing</td>
      <td>
        The mean of the three highest cumulative annual degree days from the
        thawing index for each era.
      </td>
    </tr>
    <tr>
      <td>freezing</td>
      <td>
        The mean of the three highest cumulative annual degree days from the
        freezing index for each era.
      </td>
    </tr>
  </tbody>
</table>

<h4>Examples</h4>

<h5>Design Thawing Index</h5>
<p>Query for the historical design thawing index at a provided point:</p>
<p></p>
<p>
  Example:
  <a href="/design_index/thawing/historical/point/65.0628/-146.1627"
    >/design_index/thawing/historical/point/65.0628/-146.1627</a
  >
</p>

<p>Query for the projected design thawing index at a provided point:</p>
<p></p>
<p>
  Example:
  <a href="/design_index/thawing/projected/point/65.0628/-146.1627"
    >/design_index/thawing/projected/point/65.0628/-146.1627</a
  >
</p>

<p>
  Query for the historical and projected design thawing index at a provided
  point:
</p>
<p></p>
<p>
  Example:
  <a href="/design_index/thawing/hp/point/65.0628/-146.1627"
    >/design_index/thawing/hp/point/65.0628/-146.1627</a
  >
</p>

<h5>Design Freezing Index</h5>
<p>Query for the historical design freezing index at a provided point:</p>
<p></p>
<p>
  Example:
  <a href="/design_index/freezing/historical/point/65.0628/-146.1627"
    >/design_index/freezing/historical/point/65.0628/-146.1627</a
  >
</p>

<p>Query for the projected design freezing index at a provided point:</p>
<p></p>
<p>
  Example:
  <a href="/design_index/freezing/projected/point/65.0628/-146.1627"
    >/design_index/freezing/projected/point/65.0628/-146.1627</a
  >
</p>

<p>
  Query for the historical and projected design freezing index at a provided
  point:
</p>
<p></p>
<p>
  Example:
  <a href="/design_index/freezing/hp/point/65.0628/-146.1627"
    >/design_index/freezing/hp/point/65.0628/-146.1627</a
  >
</p>

<b>Results from the queries above will look like this:</b>

<pre>
{
  "2040-2069": {
    "di": 3787
  },
  ...
}
</pre>

<b>The above output is structured as such:</b>

<pre>
{
  &lt;era>: {
    "di": &lt;mean of degree days across top three years across models and era>
  },
  ...
}
</pre>

<h4>Comprehensive queries</h4>
<p>
  The following queries will fetch design index values across all available
  models.
</p>

<p>
  Example:
  <a href="/design_index/freezing/all/point/65.0628/-146.1627"
    >/design_index/freezing/all/point/65.0628/-146.1627</a
  >
</p>

<p>
  Example:
  <a href="/design_index/thawing/all/point/65.0628/-146.1627"
    >/design_index/thawing/all/point/65.0628/-146.1627</a
  >
</p>

<b>Results from the query above will look like this:</b>

<pre>
{
  ...
  "GFDL-CM3": {
    "2040-2069": {
      "di": 1548
    },
    "2070-2099": {
      "di": 775
    }
  },
  ...
}
</pre>

<b>The above output is structured as such:</b>

<pre>
{
  &lt;model>: {
    &lt;era>: {
      "dd": &lt;mean of degree days across top three years across era>
    },
    ...
  }
  ...
}
</pre>

<h4>CSV Export</h4>
<p>To export the point data in a CSV file, append <code>?format=csv</code>.</p>
<p>
  Example:
  <a href="/design_index/thawing/all/point/65.0628/-146.1627?format=csv"
    >/design_index/thawing/all/point/65.0628/-146.1627?format=csv</a
  >
</p>
<p>
  Example:
  <a href="/design_index/freezing/all/point/65.0628/-146.1627?format=csv"
    >/design_index/freezing/all/point/65.0628/-146.1627?format=csv</a
  >
</p>
{% endblock %}
