{% extends 'base.html' %}
{% block content %}
<h3>Historical and Projected Minimum, Mean, and Maximum</h3>
<p>The endpoints here provide access to both historical and projected model data over the state of Alaska for
    the surface temperature in degrees Fahrenheit, total annual precipitation in
    inches, total annual snowfall equivalent in millimeters, and degree days at various thresholds.
</p>
<h4>Service endpoints</h4>
<p>These endpoints are for point queries of minimum, mean, and maximum values of temperature, precipitation, snowfall
    equilvalent, and degree days.
<ul>
    <li><a href="/mmm/temperature">Temperature Point Query</a>: min, mean, and max temperature values for a point.</li>
    <li><a href="/mmm/precipitation">Precipitation Point Query</a>: min, mean, and max precipitation values for a point.
    </li>
    <li><a href="/mmm/snow">Snow Point Query</a>: min, mean, and max snow values for a point.</li>
    <li><a href="/mmm/degree_days">Degree Days Point Query</a>: min, mean, and max at various degree day thresholds for
        a
        point.</li>
</ul>
{% endblock %}