{% extends 'base.html' %}
{% block content %}
<h3>Annual Total Precipitation Min, Mean, and Max Point Query</h3>
<p>Query for historical annual total precipitation min, mean, and max:</p>
<p>Example: <a href="/mmm/precipitation/historical/65.0628/-146.1627">/mmm/precipitation/historical/65.0628/-146.1627</a></p>
<p>Query for projected annual total precipitation min, mean, and max:</p>
<p>Example: <a href="/mmm/precipitation/projected/65.0628/-146.1627">/mmm/precipitation/projected/65.0628/-146.1627</a></p>
<p>Query for both historical and projected annual total precipitation min, mean, and max:
<p>Example: <a href="/mmm/precipitation/hp/65.0628/-146.1627">/mmm/precipitation/hp/65.0628/-146.1627</a></p>
<p>Query for all annual total precipitation data across all historical and projected models from 1900-2100:</p>
<p>Example: <a href="/mmm/precipitation/all/65.0628/-146.1627">/mmm/precipitation/all/65.0628/-146.1627</a></p>
<b>Results from the query above will look like this:</b>

<pre>
{
  "CRU-TS": {
    "historical": {
      "1900": {
        "pr": 140
      }
  }
  ...
}
</pre>

<b>The above output is structured as such:</b>

<pre>
{
  &ltmodel>: {
    &ltscenario>:{
      &ltyear>: {
        "pr": &ltpr value>
        }
      }
    }
  }
  ...
}
</pre>

<h4>CSV Export</h4>
<p>To export the annual total precipitation point data in a CSV file, append <code>?format=csv</code>.</p>
<p>Example: <a href="/mmm/precipitation/all/65.0628/-146.1627?format=csv">/mmm/precipitation/all/65.0628/-146.1627?format=csv</a></p>
{% endblock %}
