{% extends 'base.html' %} {% block content %}
<h3>Snowfall Equivalent</h3>
<p>
  This endpoint accesses historical and projected modeled decadal summaries of
  annual snowfall equivalent (SFE) for Alaska. Note that SFE has a very specific
  meaning in a modeling context: it is the product of the fraction of days in a
  month with precipitation falling as snow and the total monthly precipitation.
  That product (monthly) is then summed to create a single annual total SFE
  value. The SFE values provided here are millimeters of water.
</p>
<h4>Summary queries for SFE</h4>
<p>Query the historical SFE min, mean, and max:</p>
<p>
  Example:
  <a href="/mmm/snow/snowfallequivalent/historical/61.5/-147"
    >/mmm/snow/snowfallequivalent/historical/61.5/-147</a
  >
</p>
<p>Query the projected SFE min, mean, and max:</p>
<p>
  Example:
  <a href="/mmm/snow/snowfallequivalent/projected/61.5/-147"
    >/mmm/snow/snowfallequivalent/projected/61.5/-147</a
  >
</p>
<p>Query both the historical and projected SFE min, mean, and max:</p>
<p></p>
<p>
  Example:
  <a href="/mmm/snow/snowfallequivalent/hp/61.5/-147"
    >/mmm/snow/snowfallequivalent/hp/61.5/-147</a
  >
</p>
<b>Results from the queries above will look like this:</b>
<pre>
{
  "historical": {
    "sfemax": 4876,
    "sfemean": 3701,
    "sfemin": 2946
  }
  ...
}
</pre>
<b>The above output is structured like this:</b>
<pre>
{
  &ltsummary time period type, "historical" or "projected">: {
    "sfemax": &ltmax SFE value across all models, scenarios, and decades>,
    "sfemean": &ltmean SFE value across all models, scenarios, and decades>,
    "sfemin": &ltmin SFE value across all models, scenarios, and decades>
  }
  ...
}
</pre>
<h4>Comprehensive queries for SFE</h4>
<p>
  Query both the historical and projected SFE values for all models, scenarios,
  and decades (1910-1919 through 2090-2099):
</p>
<p>
  Example:
  <a href="/mmm/snow/snowfallequivalent/all/61.5/-147"
    >/mmm/snow/snowfallequivalent/all/61.5/-147</a
  >
</p>
<b>Results from the query above will look like this:</b>
<pre>
{
    "CRU-TS": {
    "historical": {
        "1910-1919": {
        "SFE": 3801,
        }
        ...
    }
    ...
    }
    ...
}
</pre>
<b>The above output is structured like this:</b>
<pre>
{
    &ltmodel>: {
    &ltscenario>:{
        &ltdecade>: {
        "SFE": &ltannual total sfe value>,
        }
        ...
    }
    ...
    }
    ...
}
</pre>

<h4>CSV Export</h4>
<p>
  To export the point data in a CSV file, append <code>?format=csv</code>.
  Currently only available for the "all" data option.
</p>
<p>
  Example:
  <a href="/mmm/snow/snowfallequivalent/all/61.5/-147?format=csv"
    >/mmm/snow/snowfallequivalent/all/61.5/-147?format=csv</a
  >
</p>
{% endblock %}
