{% extends 'base.html' %}
{% block content %}
<h3>Temperature at Surface Min, Mean, and Max Point Query</h3>
<h4>Summary queries for January or July</h4>
<p>The following queries will fetch temperature values summarized across all models and scenarios for specified time eras.</p>
<p>Query for historical temperature min, mean, and max for January or July:</p>
<p>Example: <a href="/mmm/temperature/jan/historical/65.0628/-146.1627">/mmm/temperature/jan/historical/65.0628/-146.1627</a></p>
<p>Example: <a href="/mmm/temperature/july/historical/65.0628/-146.1627">/mmm/temperature/july/historical/65.0628/-146.1627</a></p>
<p>Query for projected temperature min, mean, and max for January or July:</p>
<p>Example: <a href="/mmm/temperature/jan/projected/65.0628/-146.1627">/mmm/temperature/jan/projected/65.0628/-146.1627</a></p>
<p>Example: <a href="/mmm/temperature/july/projected/65.0628/-146.1627">/mmm/temperature/july/projected/65.0628/-146.1627</a></p>
<p>Query for both historical and projected temperature min, mean, and max for January or July:
<p>Example: <a href="/mmm/temperature/jan/hp/65.0628/-146.1627">/mmm/temperature/jan/hp/65.0628/-146.1627</a></p>
<p>Example: <a href="/mmm/temperature/july/hp/65.0628/-146.1627">/mmm/temperature/july/hp/65.0628/-146.1627</a></p>

<b>Results from the queries above will look like this:</b>

<pre>
{
  "historical": {
    "tasmax": 21.7,
    "tasmean": 13.5,
    "tasmin": 6.2
  }
  ...
}
</pre>

<b>The above output is structured as such:</b>

<pre>
{
  &ltsummary timer period type, "historical" or "projected">: {
    "tasmax": &ltmax tas value across all models, scenarios, and years>,
    "tasmean": &ltmean tas value across all models, scenarios, and years>,
    "tasmin": &ltmin tas value across all models, scenarios, and years>
  }
  ...
}
</pre>

<br>
<h4>Comprehensive queries for January or July</h4>
<p>The following queries will fetch yearly temperature values across all available years for January or July.</p>
<p>Query for all Januray or July min, mean, and max temperature data for all historical and projected models from 1901-2099:</p>
<p>Example: <a href="/mmm/temperature/jan/all/65.0628/-146.1627">/mmm/temperature/jan/all/65.0628/-146.1627</a></p>
<p>Example: <a href="/mmm/temperature/july/all/65.0628/-146.1627">/mmm/temperature/july/all/65.0628/-146.1627</a></p>
<b>Results from the query above will look like this:</b>

<pre>
{
  "CRU-TS": {
    "historical": {
      "1901": {
        "tasmax": 19.7,
        "tasmean": 13.4,
        "tasmin": 7.1
      }
      ...
    }
  }
  ...
}
</pre>

<b>The above output is structured as such:</b>

<pre>
{
  &ltmodel>: {
    &ltscenario>:{
      &ltyear>: {
        "tasmax": &ltannual max tas value>,
        "tasmean": &ltannual mean tas value>,
        "tasmin": &ltannual min tas value>
        }
      }
      ...
    }
  }
  ...
}
</pre>

<br>
<h4>Summary queries for annual mean temperatures</h4>
<p>The following queries will fetch mean annual temperature values summarized across all models and scenarios for specified time eras.</p>
<p>Query for historical min, mean, and max annual mean temperature:</p>
<p>Example: <a href="/mmm/temperature/historical/65.0628/-146.1627">/mmm/temperature/historical/65.0628/-146.1627</a></p>
<p>Query for projected min, mean, and max annual mean temperature:</p>
<p>Example: <a href="/mmm/temperature/projected/65.0628/-146.1627">/mmm/temperature/projected/65.0628/-146.1627</a></p>
<p>Query for both historical and projected min, mean, and max annual mean temperature:</p>
<p>Example: <a href="/mmm/temperature/hp/65.0628/-146.1627">/mmm/temperature/hp/65.0628/-146.1627</a></p>

b>Results from the queries above will look like this:</b>

<pre>
{
  "historical": {
    "tasmax": -1.8,
    "tasmean": -4.4,
    "tasmin": -7.2
  }
  ...
}
</pre>

<b>The above output is structured as such:</b>

<pre>
{
  &ltsummary timer period type, "historical" or "projected">: {
    "tasmax": &ltmax tas value across all models, scenarios, and years>,
    "tasmean": &ltmean tas value across all models, scenarios, and years>,
    "tasmin": &ltmin tas value across all models, scenarios, and years>
  }
  ...
}
</pre>

<br>
<h4>Comprehensive queries for annual mean temperature</h4>
<p>The following query will fetch annual mean temperature values across all available years.</p>
<p>Query for all mean annual temperature data for all historical and projected models from 1901-2099:</p>
<p>Example: <a href="/mmm/temperature/all/65.0628/-146.1627">/mmm/temperature/all/65.0628/-146.1627</a></p>

<b>Results from the query above will look like this:</b>

<pre>
{
  "CRU-TS": {
    "historical": {
      "1901": {
        "tas": -5,
      }
      ...
    }
  }
  ...
}
</pre>

<b>The above output is structured as such:</b>

<pre>
{
  &ltmodel>: {
    &ltscenario>:{
      &ltyear>: {
        "tas": &ltannual mean tas value>,
      }
      ...
    }
  }
  ...
}
</pre>

<h4>CSV Export</h4>
<p>To export the point data in a CSV file, append <code>?format=csv</code>. Currently only available for the "all" option for the time era variable</p>
<p>Example: <a href="/mmm/temperature/jan/all/65.0628/-146.1627?format=csv">/mmm/temperature/jan/all/65.0628/-146.1627?format=csv</a></p>
<p>Example: <a href="/mmm/temperature/july/all/65.0628/-146.1627?format=csv">/mmm/temperature/july/all/65.0628/-146.1627?format=csv</a></p>
<p>Example: <a href="/mmm/temperature/all/65.0628/-146.1627?format=csv">/mmm/temperature/july/all/65.0628/-146.1627?format=csv</a></p>
{% endblock %}