{% extends 'base.html' %}
{% block content %}
<h3>Permafrost point query</h3>
<p>Query permafrost data (e.g. extent, ground temperatures) for a single point specified by latitude and longitude.</p>
<p>Example: <a href="/permafrost/point/65.0628/-146.1627">/permafrost/point/65.0628/-146.1627</a></p>
<h4>Results from the query above will look like this:</h4>
<pre>
{
  "gipl": {
    "1995": {
      "cruts31": {
        "historical": {
          "alt": -2.17,
          "magt": 0.59,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp45": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp85": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        }
      },
      "gfdlcm3": {
        "historical": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp45": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp85": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        }
      },
      "gisse2r": {
        "historical": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp45": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp85": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        }
      },
      "ipslcm5alr": {
        "historical": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp45": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp85": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        }
      },
      "mricgcm3": {
        "historical": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp45": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp85": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        }
      },
      "ncarccsm4": {
        "historical": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp45": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp85": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        }
      }
    },
    "2025": {
      "cruts31": {
        "historical": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp45": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp85": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        }
      },
      "gfdlcm3": {
        "historical": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp45": {
          "alt": 0.68,
          "magt": -0.02,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp85": {
          "alt": 0.66,
          "magt": -0.03,
          "title": "GIPL 2.0 Model Output"
        }
      },
      "gisse2r": {
        "historical": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp45": {
          "alt": 0.61,
          "magt": -1.03,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp85": {
          "alt": 0.6,
          "magt": -1.09,
          "title": "GIPL 2.0 Model Output"
        }
      },
      "ipslcm5alr": {
        "historical": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp45": {
          "alt": 0.65,
          "magt": -0.92,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp85": {
          "alt": 0.69,
          "magt": -0.14,
          "title": "GIPL 2.0 Model Output"
        }
      },
      "mricgcm3": {
        "historical": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp45": {
          "alt": 0.61,
          "magt": -1.2,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp85": {
          "alt": 0.6,
          "magt": -1.14,
          "title": "GIPL 2.0 Model Output"
        }
      },
      "ncarccsm4": {
        "historical": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp45": {
          "alt": 0.66,
          "magt": -0.6,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp85": {
          "alt": 0.64,
          "magt": -0.5,
          "title": "GIPL 2.0 Model Output"
        }
      }
    },
    "2050": {
      "cruts31": {
        "historical": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp45": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp85": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        }
      },
      "gfdlcm3": {
        "historical": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp45": {
          "alt": 0.98,
          "magt": 2.22,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp85": {
          "alt": 0.81,
          "magt": 3.25,
          "title": "GIPL 2.0 Model Output"
        }
      },
      "gisse2r": {
        "historical": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp45": {
          "alt": 0.62,
          "magt": -0.82,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp85": {
          "alt": 0.64,
          "magt": -0.23,
          "title": "GIPL 2.0 Model Output"
        }
      },
      "ipslcm5alr": {
        "historical": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp45": {
          "alt": 0.68,
          "magt": -0.25,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp85": {
          "alt": 0.69,
          "magt": -0.15,
          "title": "GIPL 2.0 Model Output"
        }
      },
      "mricgcm3": {
        "historical": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp45": {
          "alt": 0.63,
          "magt": -0.85,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp85": {
          "alt": 0.63,
          "magt": -0.59,
          "title": "GIPL 2.0 Model Output"
        }
      },
      "ncarccsm4": {
        "historical": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp45": {
          "alt": 0.67,
          "magt": -0.38,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp85": {
          "alt": 1.21,
          "magt": 0.31,
          "title": "GIPL 2.0 Model Output"
        }
      }
    },
    "2075": {
      "cruts31": {
        "historical": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp45": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp85": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        }
      },
      "gfdlcm3": {
        "historical": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp45": {
          "alt": 0.81,
          "magt": 3.4,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp85": {
          "alt": 0.54,
          "magt": 5.6,
          "title": "GIPL 2.0 Model Output"
        }
      },
      "gisse2r": {
        "historical": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp45": {
          "alt": 0.62,
          "magt": -0.74,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp85": {
          "alt": 0.65,
          "magt": -0.02,
          "title": "GIPL 2.0 Model Output"
        }
      },
      "ipslcm5alr": {
        "historical": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp45": {
          "alt": 1.26,
          "magt": 0.14,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp85": {
          "alt": 0.91,
          "magt": 3.08,
          "title": "GIPL 2.0 Model Output"
        }
      },
      "mricgcm3": {
        "historical": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp45": {
          "alt": 0.64,
          "magt": -0.69,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp85": {
          "alt": 1.19,
          "magt": 0.13,
          "title": "GIPL 2.0 Model Output"
        }
      },
      "ncarccsm4": {
        "historical": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp45": {
          "alt": 1.17,
          "magt": 0.68,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp85": {
          "alt": 0.9,
          "magt": 2.61,
          "title": "GIPL 2.0 Model Output"
        }
      }
    },
    "2095": {
      "cruts31": {
        "historical": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp45": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp85": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        }
      },
      "gfdlcm3": {
        "historical": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp45": {
          "alt": 0.81,
          "magt": 3.88,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp85": {
          "alt": 0.33,
          "magt": 7.48,
          "title": "GIPL 2.0 Model Output"
        }
      },
      "gisse2r": {
        "historical": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp45": {
          "alt": 0.61,
          "magt": -0.69,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp85": {
          "alt": 1.1,
          "magt": 0.73,
          "title": "GIPL 2.0 Model Output"
        }
      },
      "ipslcm5alr": {
        "historical": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp45": {
          "alt": 1.15,
          "magt": 0.92,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp85": {
          "alt": 0.66,
          "magt": 5.17,
          "title": "GIPL 2.0 Model Output"
        }
      },
      "mricgcm3": {
        "historical": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp45": {
          "alt": 0.66,
          "magt": -0.37,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp85": {
          "alt": 0.99,
          "magt": 1.69,
          "title": "GIPL 2.0 Model Output"
        }
      },
      "ncarccsm4": {
        "historical": {
          "alt": -9999.0,
          "magt": -9999.0,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp45": {
          "alt": 1.18,
          "magt": 0.53,
          "title": "GIPL 2.0 Model Output"
        },
        "rcp85": {
          "alt": 0.6,
          "magt": 5.54,
          "title": "GIPL 2.0 Model Output"
        }
      }
    }
  },
  "jorg": {
    "ice": "Moderate",
    "pfx": "Discontinuous",
    "title": "Jorgenson et al. (2008) Permafrost Extent and Ground Ice Volume"
  },
  "obu_magt": {
    "depth": "Top of Permafrost",
    "temp": 0.17,
    "title": "Obu et al. (2018) 2000-2016 Mean Annual Top of Permafrost Ground Temperature (deg. C)",
    "year": "2000-2016"
  },
  "obupfx": {
    "pfx": "Sporadic",
    "title": "Obu et al. (2018) Permafrost Extent"
  }
}
</pre>
<ul>
    <li><strong><code>gipl_alt</code></strong>: GIPL 2.0 Active Layer Thickness Model Output
        <ul>
            <li><strong><code>thickness</code></strong>: <i>(float)</i>, Active layer thickness (m).</li>
            <li><strong><code>year</code></strong>: <i>(str)</i>, Calendar year of model output.</li>
            <li><strong><code>title</code></strong>: <i>(str)</i>, Title describing these results.</li>
        </ul>
    <li><strong><code>gipl_magt</code></strong>: GIPL 2.0 Mean Annual Ground Temperature Model Output
        <ul>
            <li><strong><code>depth</code></strong>: <i>(str)</i>, Depth below the surface (m) for which the mean annual ground temperature is modeled.</li>
            <li><strong><code>temp</code></strong>: <i>(float)</i>, Mean annual ground temperature (&deg;C).</li>
            <li><strong><code>year</code></strong>: <i>(str)</i>, Calendar year of model output.</li>
            <li><strong><code>title</code></strong>: <i>(str)</i>, Title describing these results.</li>
        </ul>
    <li><strong><code>jorg</code></strong>: Jorgenson et al. (2008) Permafrost Characteristics of Alaska
        <ul>
            <li><strong><code>ice</code></strong>: <i>(str)</i>, Estimated ground ice volume.</li>
            <li><strong><code>pfx</code></strong>: <i>(str)</i>, Permafrost extent.</li>
            <li><strong><code>title</code></strong>: <i>(str)</i>, Title describing these results.</li>
        </ul>
    <li><strong><code>obu_magt</code></strong>: Obu et al. (2018) Modeled Mean Annual Ground Temperature at Top of Permafrost
        <ul>
            <li><strong><code>depth</code></strong>: <i>(str)</i>, Top of permafrost (i.e. depth of active layer).</li>
            <li><strong><code>temp</code></strong>: <i>(float)</i>, Mean annual ground temperature (&deg;C).</li>
            <li><strong><code>title</code></strong>: <i>(str)</i>, Title describing these results.</li>
            <li><strong><code>year</code></strong>: <i>(str)</i>, Date range of model output.</li>
        </ul>
    <li><strong><code>jorg</code></strong>: Obu et al. (2018) Modeled Permafrost Extent
        <ul>
            <li><strong><code>pfx</code></strong>: <i>(str)</i>, Permafrost extent.</li>
            <li><strong><code>title</code></strong>: <i>(str)</i>, Title describing these results.</li>
        </ul>
</ul>
<h4>Source data</h4>
<table>
    <thead>
        <tr>
            <th>Data Layer</th>
            <th>Variables</th>
            <th>Download link</th>
            <th>Source</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>GIPL Model Ouputs</td>
            <td>Mean Annual Ground Temperature, Active Layer Thickness</td>
            <td><a href="http://data.snap.uaf.edu/data/IEM/Outputs/GIPL/Gen_1a/v_2.0.0/">http://data.snap.uaf.edu/data/IEM/Outputs/GIPL/Gen_1a/v_2.0.0/</a></td>
            <td><a href="http://ckan.snap.uaf.edu/dataset/gipl-model-outputs-linear-coupled-annual">http://ckan.snap.uaf.edu/dataset/gipl-model-outputs-linear-coupled-annual</a></td>
            <td></td>
        </tr>
        <tr>
            <td>Jorgenson Permafrost Characteristics</td>
            <td>Permafrost Extent, Ground Ice Volume</td>
            <td><a href="https://catalog.northslopescience.org/dataset/1725/resource/5811669f-860c-450e-9bc0-9dfc21821606">https://catalog.northslopescience.org/dataset/1725/resource/5811669f-860c-450e-9bc0-9dfc21821606</a></td>
            <td><a href="https://catalog.northslopescience.org/dataset/1725">https://catalog.northslopescience.org/dataset/1725</a></td>
            <td></td>
        </tr>
        <tr>
            <td>Obu et al. 2018</td>
            <td>Mean Annual Ground Temperature, Permafrost Extent</td>
            <td><a href="https://store.pangaea.de/Publications/ObuJ-etal_2018/UiO_PEX_MAGTM_5.0_20181127_2000_2016_NH.zip">https://store.pangaea.de/Publications/ObuJ-etal_2018/UiO_PEX_MAGTM_5.0_20181127_2000_2016_NH.zip</a>, <a href="https://store.pangaea.de/Publications/ObuJ-etal_2018/UiO_PEX_PERZONES_5.0_20181128_2000_2016_NH.zip">https://store.pangaea.de/Publications/ObuJ-etal_2018/UiO_PEX_PERZONES_5.0_20181128_2000_2016_NH.zip</a></td>
            <td><a href="https://doi.org/10.1594/PANGAEA.888600">https://doi.org/10.1594/PANGAEA.888600</a></td>
            <td></td>
        </tr>
    </tbody>
</table>
{% endblock %}
