{% extends 'base.html' %}
{% block content %}
<h3>Permafrost Protected Area Aggregation</h3>
<p>Query 4 km resolution GIPL 2.0 model output data for a specific protected area and aggregate by mean.</p>
<p>A query will fetch both mean annual ground temperature (MAGT) and active layer thickness (ALT) data for a single protected area.
<p>Example: <a href="/permafrost/protectedarea/NPS7">/permafrost/protectedarea/NPS7</a></p>
<hr/>
<h4>Results from the query above will look like this:</h4>
<pre>
{
  "1995": {
    "cruts31": {
      "historical": {
        "alt": 0.6,
        "magt": -5.1,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      }
    }
  },
  "2025": {
    "gfdlcm3": {
      "rcp45": {
        "alt": 0.9,
        "magt": -1.8,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      },
      "rcp85": {
        "alt": 0.8,
        "magt": -1.8,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      }
    },
    "gisse2r": {
      "rcp45": {
        "alt": 0.7,
        "magt": -3.7,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      },
      "rcp85": {
        "alt": 0.7,
        "magt": -3.7,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      }
    },
    "ipslcm5alr": {
      "rcp45": {
        "alt": 0.7,
        "magt": -3.5,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      },
      "rcp85": {
        "alt": 0.8,
        "magt": -2.5,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      }
    },
    "mricgcm3": {
      "rcp45": {
        "alt": 0.7,
        "magt": -4.1,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      },
      "rcp85": {
        "alt": 0.7,
        "magt": -4.1,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      }
    },
    "ncarccsm4": {
      "rcp45": {
        "alt": 0.8,
        "magt": -3.1,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      },
      "rcp85": {
        "alt": 0.7,
        "magt": -2.9,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      }
    }
  },
  "2050": {
    "gfdlcm3": {
      "rcp45": {
        "alt": 1.1,
        "magt": -0.3,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      },
      "rcp85": {
        "alt": 1.1,
        "magt": 0.4,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      }
    },
    "gisse2r": {
      "rcp45": {
        "alt": 0.7,
        "magt": -3.3,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      },
      "rcp85": {
        "alt": 0.8,
        "magt": -2.6,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      }
    },
    "ipslcm5alr": {
      "rcp45": {
        "alt": 0.8,
        "magt": -2.6,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      },
      "rcp85": {
        "alt": 0.8,
        "magt": -2.2,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      }
    },
    "mricgcm3": {
      "rcp45": {
        "alt": 0.7,
        "magt": -3.5,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      },
      "rcp85": {
        "alt": 0.8,
        "magt": -3.2,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      }
    },
    "ncarccsm4": {
      "rcp45": {
        "alt": 0.8,
        "magt": -2.8,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      },
      "rcp85": {
        "alt": 0.9,
        "magt": -2.1,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      }
    }
  },
  "2075": {
    "gfdlcm3": {
      "rcp45": {
        "alt": 1.1,
        "magt": 0.7,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      },
      "rcp85": {
        "alt": 1.0,
        "magt": 2.5,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      }
    },
    "gisse2r": {
      "rcp45": {
        "alt": 0.7,
        "magt": -3.2,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      },
      "rcp85": {
        "alt": 0.8,
        "magt": -2.3,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      }
    },
    "ipslcm5alr": {
      "rcp45": {
        "alt": 0.9,
        "magt": -2.0,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      },
      "rcp85": {
        "alt": 1.1,
        "magt": -0.1,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      }
    },
    "mricgcm3": {
      "rcp45": {
        "alt": 0.7,
        "magt": -3.3,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      },
      "rcp85": {
        "alt": 0.8,
        "magt": -2.2,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      }
    },
    "ncarccsm4": {
      "rcp45": {
        "alt": 0.9,
        "magt": -1.9,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      },
      "rcp85": {
        "alt": 1.1,
        "magt": -0.4,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      }
    }
  },
  "2095": {
    "gfdlcm3": {
      "rcp45": {
        "alt": 1.1,
        "magt": 1.0,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      },
      "rcp85": {
        "alt": 0.8,
        "magt": 4.6,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      }
    },
    "gisse2r": {
      "rcp45": {
        "alt": 0.7,
        "magt": -3.2,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      },
      "rcp85": {
        "alt": 0.9,
        "magt": -1.6,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      }
    },
    "ipslcm5alr": {
      "rcp45": {
        "alt": 0.9,
        "magt": -1.7,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      },
      "rcp85": {
        "alt": 1.0,
        "magt": 1.6,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      }
    },
    "mricgcm3": {
      "rcp45": {
        "alt": 0.8,
        "magt": -2.8,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      },
      "rcp85": {
        "alt": 1.0,
        "magt": -1.2,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      }
    },
    "ncarccsm4": {
      "rcp45": {
        "alt": 0.9,
        "magt": -1.9,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      },
      "rcp85": {
        "alt": 1.0,
        "magt": 1.9,
        "statistic": "Zonal Mean",
        "title": "Melvin et al. (2017) GIPL 2.0 Mean Annual Ground Temperature (\u00b0C) and Active Layer Thickness (m) Model Output"
      }
    }
  }
}
</pre>
<ul>
    <li><strong><code>gipl</code></strong>: GIPL 2.0 Model Outputs
        <ul>
            <li><strong><code>era</code></strong>: <i>(str)</i>, Era name. "1995" refers to the historical baseline. Otherwise these are 30 year eras surrounding the following center dates, except last era is truncated at 2100: "2025" (2011 - 2040), "2050" (2036 - 2065), "2075" (2061 – 2090), "2095" (2086 – 2100).</li>
            <ul>
                <li><strong><code>model</code></strong>: <i>(str)</i>, Climate model driving the GIPL model output.</li>
                <ul>
                    <li><strong><code>scenario</code></strong>: <i>(str)</i>, RCP Emissions Scenario driving the GIPL model output.</li>
                    <ul>
                        <li><strong><code>alt</code></strong>: <i>(float)</i>, Active Layer Thickness (m).</li>
                        <li><strong><code>magt</code></strong>: <i>(float)</i>, Mean annual ground temperature (&deg;C).</li>
                        <li><strong><code>statistic</code></strong>: <i>(str)</i>, Statistic used to summarize the results.</li>
                        <li><strong><code>title</code></strong>: <i>(str)</i>, Title describing these results.</li>
                    </ul>
                </ul>
            </ul>
        </ul>
    </li>
</ul>
<h4>Source data</h4>
<table>
    <thead>
        <tr>
            <th>Data Layer</th>
            <th>Variables</th>
            <th>Download link</th>
            <th>Source</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>GIPL Model Ouputs</td>
            <td>Mean Annual Ground Temperature, Active Layer Thickness</td>
            <td><a href="https://raw.githubusercontent.com/ua-snap/rasdaman-ingest/main/iem/gipl2_4km/download_melvin.sh">Shell Download Script</a></td>
            <td><a href="https://doi.org/10.1073/pnas.1611056113">Melvin et al. (2017)</a></td>
            <td>MAGT is modeled for the depth of the active layer.</td>
        </tr>
    </tbody>
</table>
{% endblock %}
