{% extends 'base.html' %}
{% block content %}
<h3>ALFRESCO Geospatial Polygon aggregation</h3>
<p>Query data derived from 1km ALFRESCO outputs for a <a href="/places/all">area of interest polygon ID</a> and aggregate by mean.</p>
<p>Examples for the currently available datasets:</p>
<ul>
    <li>Relative flammability: <a href="/alfresco/flammability/area/19080309">/alfresco/flammability/area/19080309</a></li>
    <li>Relative vegetation change: <a href="/alfresco/veg_change/area/19080309">/alfresco/veg_change/area/19080309</a></li>
    <li>Vegetation type: <a href="/alfresco/veg_type/area/19080309">/alfresco/veg_type/area/19080309</a></li>
</ul>
<h4>CSV Export</h4>
<p>To export the aggregated HUC data in a CSV file, append <code>?format=csv</code>.</p>
<p>Example: <a href="/alfresco/flammability/area/19080309?format=csv">/alfresco/flammability/area/19080309?format=csv</a></p>
<hr/>
<p>8-digit HUC shapefiles accessed at <a href="https://datagateway.nrcs.usda.gov/">https://datagateway.nrcs.usda.gov/</a></p>
{% endblock %}
