{% extends 'base.html' %}
{% block content %}
<h3>ALFRESCO Local aggregation</h3>
<p>Query data derived from 1km ALFRESCO outputs for a point location specified by latitude and longitude, and return the mean of the pixels within the HUC-12 that intersects the supplied point location.</p>
<p>Examples for the currently available datasets:</p>
<ul>
    <li>Relative flammability: <a href="/alfresco/flammability/local/65.4844/-145.4036">/alfresco/flammability/local/65.4844/-145.4036</a></li>
    <li>Relative vegetation change: <a href="/alfresco/veg_change/local/65.4844/-145.4036">/alfresco/veg_change/local/65.4844/-145.4036</a></li>
    <li>Vegetation type: <a href="/alfresco/veg_type/local/65.4844/-145.4036">/alfresco/veg_type/local/65.4844/-145.4036</a></li>
</ul>
<h4>CSV Export</h4>
<p>To export the local data in a CSV file, append <code>?format=csv</code>.</p>
<p>Example: <a href="/alfresco/flammability/local/65.4844/-145.4036?format=csv">/alfresco/flammability/local/65.4844/-145.4036?format=csv</a></p>
<hr/>
<p>12-digit HUC shapefiles accessed at <a href="https://datagateway.nrcs.usda.gov/">https://datagateway.nrcs.usda.gov/</a></p>
{% endblock %}
