{% extends 'base.html' %}
{% block content %}
<h3>ALFRESCO point query</h3>
<p>Query data derived from 1km ALFRESCO for a single point specified by latitude and longitude.</p>
<p>Examples for the currently available datasets:</p>
<ul>
    <li>Relative flammability: <a href="/alfresco/flammability/point/65.0628/-146.1627">/alfresco/flammability/point/65.0628/-146.1627</a></li>
    <li>Relative vegetation change: <a href="/alfresco/veg_change/point/65.0628/-146.1627">/alfresco/veg_change/point/65.0628/-146.1627</a></li>
</ul>
<h4>CSV Export</h4>
<p>To export the aggregated HUC data in a CSV file, append <code>?format=csv</code>.</p>
<p>Example: <a href="/alfresco/flammability/huc/19080309?format=csv">/alfresco/flammability/huc/19080309?format=csv</a></p>
{% endblock %}
