{% extends 'base.html' %}
{% block content %}
<h3>ALFRESCO Protected Area Aggregation</h3>
<p>Query data derived from 1km ALFRESCO outputs for a specific protected area and aggregate by mean.</p>
<p>Examples for the currently available datasets:</p>
<ul>
    <li>Example: <a href="/alfresco/flammability/protectedarea/NPS7">/alfresco/flammability/protectedarea/NPS7</a></li>
    <li>Example: <a href="/alfresco/veg_change/protectedarea/NPS7">/alfresco/veg_change/protectedarea/NPS7</a></li>
</ul>
<h4>CSV Export</h4>
<p>To export the aggregated protected area data in a CSV file, append <code>?format=csv</code>.</p>
<p>Example: <a href="/alfresco/flammability/protectedarea/NPS7?format=csv">/alfresco/flammability/protectedarea/NPS7?format=csv</a></p>
<hr/>
{% endblock %}
